.DS_Store
Day1/.DS_Store
Day1/day_1_input.txt
Day2/.DS_Store
Day2/day_2_input.txt
Day3/.DS_Store
Day3/day_3_input.txt
Day4/.DS_Store
Day4/day_4_input.txt
Day5/.DS_Store
Day5/day_5_input.txt
Day6/.DS_Store
Day6/day_6_input.txt
Day7/.DS_Store
Day7/day_7_input.txt
Day8/.DS_Store
Day8/day_8_input.txt
Day9/.DS_Store
Day9/day_9_input.txt
Day10/.DS_Store
Day10/day_10_input.txt
Day11/.DS_Store
Day11/day_11_input.txt
Day12/.DS_Store
Day12/day_12_input.txt
Day13/.DS_Store
Day13/day_13_input.txt
Day14/.DS_Store
Day14/day_14_input.txt
Day15/.DS_Store
Day15/day_15_input.txt
TesatFolder/.DS_Store